#--> PORTY <--#
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_endpointprivacy true

#--> BAZA DANYCH <--#
set mysql_connection_string "server=localhost;database=alienpack;userid=root" 

#--> ILOŚĆ GRACZY <--#
sv_maxclients 5

#--> KLUCZE <--#
set steam_webApiKey "DCB66FC5E1A7917D8618CFAC4DBF3899"
sv_licenseKey "r709g93bwgn8it4g2xh6cmy3202sitw2"

#--> INFORMACJE O SERVERZE <--#
sv_hostname "PrisonRP - DEV"
sets sv_projectName "PrisonRP - DEV"
sets sv_projectDesc "ROZBUDOWANE SKRYPTY"
sets tags "Roleplay, RP"
sets locale "root-AQ" 

#--> WYGLĄD SERVRA W WYSZUKIWARCE <--#
load_server_icon logo.png
sets banner_detail "link"
sets banner_connecting "link"

#--> BUILD SERVERA <--#
sv_enforceGameBuild 2545

#--> ONE SYNC <--#
set onesync_enabled 1

#--> INNE <--#
set es_enableCustomData 1
sv_scriptHookAllowed 0

#--> SKRYPTY <--#
start mysql-async
start essentialmode
start esplugin_mysql
start async
start es_extended

start esx_menu_default
start esx_menu_list
start esx_menu_dialog

#--> CFX <--#
start mapmanager
start chat
start spawnmanager
start sessionmanager
start basic-gamemode
start hardcap

start alien_kolejka
start alien_loadingscreen
start el_bwh
start vMenu
start vehicles2






## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:751840 group.admin #SeaTree




